.project-main {
    padding: 20px;
    
}
.project-wrapper {
    justify-content: center;
    text-align: center;
}
.project-title img {
    width: 400px;
    height: 400px;

}
.project title {
    padding-top: 10px;
    padding-left: 20px;
    text-align: center;
}
