.skill-title {
    padding: 20px;
}
.skill-wrapper {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;

    
}
.skill-wrapper img {
   width: 200px;
   height: 200px;
   margin: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   
}